<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>505805882405-lmvsq9b2vg66rdfuvrj5m4mbg051ij18.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.505805882405-lmvsq9b2vg66rdfuvrj5m4mbg051ij18</string>
	<key>API_KEY</key>
	<string>AIzaSyAUh4UvP7rgoaAHm_jK20R_NpSvxDHXdgA</string>
	<key>GCM_SENDER_ID</key>
	<string>505805882405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.upcwangying.apps.flutter.boilerplate</string>
	<key>PROJECT_ID</key>
	<string>flutter-app-boilerplate</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-app-boilerplate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505805882405:ios:b4af75d49876cefca5abcc</string>
</dict>
</plist>